<DOCTYPE html>
<html>
  <head>
    <title>Flask SQLAlchemy Mapbox Tutorial</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Flask SQLAlchemy Mapbox Tutorial</a>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">There are {{ count }} schools in {{ location.title() }}.</h1>
      </div>
    </div>
    <div class="container">
      <p>
        {% for school in schools %}
          <p><a href="/schools/{{ school.LOC_CODE }}">{{ school.SCHOOLNAME }}</a></p>
        {% endfor %}
      </p>
    </div>
  </div>
  </body>
</html>
