<DOCTYPE html>
<html>
  <head>
    <title>Flask SQLAlchemy Mapbox Tutorial</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Flask SQLAlchemy Mapbox Tutorial</a>
    </nav>
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">There are {{ count }} in New York City.</h1>
        <p class="lead">Confusion is normal.</p>
      </div>
    </div>
    <div class="container">
      <p>Keep going!</p>
        {% for school in schools %}
          <p>{{ school.SCHOOLNAME }}</p>
        {% endfor %}
    </div>
  </div>
  </body>
</html>
