{% extends "layout.html" %} 

{% block headline %}

  {{ school.SCHOOLNAME }}

{% endblock %}

{% block subhead %}

  {{ school.address.title() }}, {{ school.city.title() }}

{% endblock %}

{% block content %}

  <div class="container">
  
    <div id='map' style='width: 400px; height: 300px;'></div>
      <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibWFydW5kdSIsImEiOiJjazYwcGRvcHgwOXF3M2xtcTh3aHB1MXpwIn0.E67GHr-vd_JEiSi-3_WfaQ';
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11'
        center: [-74, 40.71],
        zoom: 9
        });
        map.on('load', function() {
          var geojsonData = {
            "type": "FeatureCollection",
            "features": [{
              "type": "Feature",
              "geometry": {
                "type": "Point",
                "coordinates": [{{ school.longitude }}, {{ school.latitude }}]
              }
            }]
          };
          map.addLayer({
            "id": "points",
            "type": "circle",
            "source": {
              "type": "geojson",
              "data": geojsonData
            }
          })
        })
      </script>

    <p></p>
    <p></p>
    <p></p>
  </div>

{% endblock %}
